[Unit]
Description=File backup to the green backup server
OnFailure=status-email-user@%n.service

[Service]
Type=oneshot
ExecStart=/bin/sh /home/web/Backup/backup.sh orange
User=root
